<div class="column page admin-page">
  <div class='column admin-title-container'>
    <%= link_to 'â† Back to products', products_path %>
    <div class='row admin-title-row'> 
      <h1 class="admin-title">Manage sale</h1>
      <%= link_to '+', new_product_path, class: 'admin-new-button' %>
    </div>
  </div>

  <div class="content column">
    <% @products.each do |product| %>
        <%= render 'application/product', product: product, link_to: edit_product_path(product) %>
    <% end %>
  </div>
<div>