.admin-page {
    align-items: center;
    justify-items: center;
    padding-top: 0px !important;
}

.admin-title {
    color: var(--content-color);
}

.admin-title-container {
    margin-top: 56px;
    align-items: center;
}

.admin-title-row {
    align-items: center;
}

.admin-new-button {
    margin-left: 8px;
    font-size: 20pt;
}