/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
:root {
    background-color: var(--background);
    color: var(--on-background) !important;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--primary);
}

/* visited link */
a:visited {
    color: var(--primary);
}

/* mouse over link */
a:hover {
    color: var(--secondary);
}

/* selected link */
a:active {
    color: (--secondary);
}

/* For mobile phones: */
:root {
    --content-width: 92%;
}
  
@media only screen and (min-width: 600px) {
    :root {--content-width: 80%;}
}
@media only screen and (min-width: 768px) {
    :root {--content-width: 70%;}
} 
@media only screen and (min-width: 1280px) {
    :root {--content-width: 60%;}
} 
@media only screen and (min-width: 1600px) {
    :root {--content-width: 50%;}
}
