<div class="availability-label">
    <% if product.status == 'available' %>
        <%= if product.available_from? 
            "Available from #{product.available_from.strftime('%d %B %Y')}"
        else 
            'Available now'
        end %>
    <% else %>
        <%= 'Sold' %>
    <% end %>
</div>