<div class="column page center-children">
    <h1>Update Product</h1>

    <div class="content page-content-card column ">
        <%= render "form", product: @product %>
    </div>
    
    <div class='product-edit-destroy-button-container'>
        <%= link_to "Delete", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
</div>