<div class="column page center-children">
  <h1 class="products-page-title">Items on sale</h1>

  <div class="content column">
    <% @products.each do |product| %>
        <%= render 'product', product: product, link_to: product_path(product) %>
    <% end %>
  </div>
<div>