
.products-price-label {
    align-self: center;
    color: var(--tertiary);
    font-weight: 600;
    font-size: 18pt;
    text-align: end;
    font-family: monospace;
    background-color: var(--surface);
    padding: 8px;
    border-radius: 8px;
}

.product-availability-label {
    margin-bottom: 8px;
    font-size: 10pt;
    color: var(--on-surface-variant);
}